<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>affiliate.php</string>
		</array>
		<array>
			<string>coupon.php</string>
		</array>
		<array>
			<string>customer.php</string>
		</array>
		<array>
			<string>online.php</string>
		</array>
		<array>
			<string>product.php</string>
		</array>
		<array>
			<string>return.php</string>
		</array>
		<array>
			<string>sale.php</string>
		</array>
	</array>
</dict>
</plist>
