<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>closetag.js</string>
		</array>
		<array>
			<string>colorize.js</string>
		</array>
		<array>
			<string>continuecomment.js</string>
		</array>
		<array>
			<string>continuelist.js</string>
		</array>
		<array>
			<string>dialog.js</string>
		</array>
		<array>
			<string>foldcode.js</string>
		</array>
		<array>
			<string>formatting.js</string>
		</array>
		<array>
			<string>javascript-hint.js</string>
		</array>
		<array>
			<string>loadmode.js</string>
		</array>
		<array>
			<string>match-highlighter.js</string>
		</array>
		<array>
			<string>matchbrackets.js</string>
		</array>
		<array>
			<string>multiplex.js</string>
		</array>
		<array>
			<string>overlay.js</string>
		</array>
		<array>
			<string>pig-hint.js</string>
		</array>
		<array>
			<string>runmode-standalone.js</string>
		</array>
		<array>
			<string>runmode.js</string>
		</array>
		<array>
			<string>search.js</string>
		</array>
		<array>
			<string>searchcursor.js</string>
		</array>
		<array>
			<string>simple-hint.js</string>
		</array>
		<array>
			<string>xml-hint.js</string>
		</array>
	</array>
</dict>
</plist>
