<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>catalog</string>
		<string>design</string>
		<string>localisation</string>
		<string>openbay</string>
		<string>payment</string>
		<string>report</string>
		<string>sale</string>
		<string>setting</string>
		<string>tool</string>
		<string>user</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
</dict>
</plist>
