<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>af.js</string>
		</array>
		<array>
			<string>ar.js</string>
		</array>
		<array>
			<string>bg.js</string>
		</array>
		<array>
			<string>bn.js</string>
		</array>
		<array>
			<string>bs.js</string>
		</array>
		<array>
			<string>ca.js</string>
		</array>
		<array>
			<string>cs.js</string>
		</array>
		<array>
			<string>cy.js</string>
		</array>
		<array>
			<string>da.js</string>
		</array>
		<array>
			<string>de.js</string>
		</array>
		<array>
			<string>el.js</string>
		</array>
		<array>
			<string>en-au.js</string>
		</array>
		<array>
			<string>en-ca.js</string>
		</array>
		<array>
			<string>en-gb.js</string>
		</array>
		<array>
			<string>en.js</string>
		</array>
		<array>
			<string>eo.js</string>
		</array>
		<array>
			<string>es.js</string>
		</array>
		<array>
			<string>et.js</string>
		</array>
		<array>
			<string>eu.js</string>
		</array>
		<array>
			<string>fa.js</string>
		</array>
		<array>
			<string>fi.js</string>
		</array>
		<array>
			<string>fo.js</string>
		</array>
		<array>
			<string>fr-ca.js</string>
		</array>
		<array>
			<string>fr.js</string>
		</array>
		<array>
			<string>gl.js</string>
		</array>
		<array>
			<string>gu.js</string>
		</array>
		<array>
			<string>he.js</string>
		</array>
		<array>
			<string>hi.js</string>
		</array>
		<array>
			<string>hr.js</string>
		</array>
		<array>
			<string>hu.js</string>
		</array>
		<array>
			<string>is.js</string>
		</array>
		<array>
			<string>it.js</string>
		</array>
		<array>
			<string>ja.js</string>
		</array>
		<array>
			<string>ka.js</string>
		</array>
		<array>
			<string>km.js</string>
		</array>
		<array>
			<string>ko.js</string>
		</array>
		<array>
			<string>ku.js</string>
		</array>
		<array>
			<string>lt.js</string>
		</array>
		<array>
			<string>lv.js</string>
		</array>
		<array>
			<string>mk.js</string>
		</array>
		<array>
			<string>mn.js</string>
		</array>
		<array>
			<string>ms.js</string>
		</array>
		<array>
			<string>nb.js</string>
		</array>
		<array>
			<string>nl.js</string>
		</array>
		<array>
			<string>no.js</string>
		</array>
		<array>
			<string>pl.js</string>
		</array>
		<array>
			<string>pt-br.js</string>
		</array>
		<array>
			<string>pt.js</string>
		</array>
		<array>
			<string>ro.js</string>
		</array>
		<array>
			<string>ru.js</string>
		</array>
		<array>
			<string>sk.js</string>
		</array>
		<array>
			<string>sl.js</string>
		</array>
		<array>
			<string>sr-latn.js</string>
		</array>
		<array>
			<string>sr.js</string>
		</array>
		<array>
			<string>sv.js</string>
		</array>
		<array>
			<string>th.js</string>
		</array>
		<array>
			<string>tr.js</string>
		</array>
		<array>
			<string>ug.js</string>
		</array>
		<array>
			<string>uk.js</string>
		</array>
		<array>
			<string>vi.js</string>
		</array>
		<array>
			<string>zh-cn.js</string>
		</array>
		<array>
			<string>zh.js</string>
		</array>
	</array>
</dict>
</plist>
