<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>a11yhelp</string>
		<string>about</string>
		<string>clipboard</string>
		<string>codemirror</string>
		<string>dialog</string>
		<string>fakeobjects</string>
		<string>image</string>
		<string>link</string>
		<string>magicline</string>
		<string>pastefromword</string>
		<string>specialchar</string>
		<string>table</string>
		<string>tabletools</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
</dict>
</plist>
