<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>cache</string>
		<string>config</string>
		<string>database</string>
		<string>engine</string>
		<string>helper</string>
		<string>library</string>
		<string>logs</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>startup.php</string>
		</array>
	</array>
</dict>
</plist>
