<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>amazon_listing.php</string>
		</array>
		<array>
			<string>amazon_order.php</string>
		</array>
		<array>
			<string>amazon_product.php</string>
		</array>
		<array>
			<string>amazonus_listing.php</string>
		</array>
		<array>
			<string>amazonus_order.php</string>
		</array>
		<array>
			<string>amazonus_product.php</string>
		</array>
		<array>
			<string>ebay_openbay.php</string>
		</array>
		<array>
			<string>ebay_order.php</string>
		</array>
		<array>
			<string>ebay_product.php</string>
		</array>
	</array>
</dict>
</plist>
