<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>amazon.php</string>
		</array>
		<array>
			<string>amazon_bulk.php</string>
		</array>
		<array>
			<string>amazon_bulk_linking.php</string>
		</array>
		<array>
			<string>amazon_links.php</string>
		</array>
		<array>
			<string>amazon_listing.php</string>
		</array>
		<array>
			<string>amazon_listingsaved.php</string>
		</array>
		<array>
			<string>amazon_overview.php</string>
		</array>
		<array>
			<string>amazon_settings.php</string>
		</array>
		<array>
			<string>amazon_stockupdates.php</string>
		</array>
		<array>
			<string>amazon_subscription.php</string>
		</array>
		<array>
			<string>amazonus.php</string>
		</array>
		<array>
			<string>amazonus_bulk.php</string>
		</array>
		<array>
			<string>amazonus_bulk_linking.php</string>
		</array>
		<array>
			<string>amazonus_links.php</string>
		</array>
		<array>
			<string>amazonus_listing.php</string>
		</array>
		<array>
			<string>amazonus_listingsaved.php</string>
		</array>
		<array>
			<string>amazonus_overview.php</string>
		</array>
		<array>
			<string>amazonus_settings.php</string>
		</array>
		<array>
			<string>amazonus_stockupdates.php</string>
		</array>
		<array>
			<string>amazonus_subscription.php</string>
		</array>
		<array>
			<string>ebay_edit.php</string>
		</array>
		<array>
			<string>ebay_import.php</string>
		</array>
		<array>
			<string>ebay_links.php</string>
		</array>
		<array>
			<string>ebay_new.php</string>
		</array>
		<array>
			<string>ebay_newbulk.php</string>
		</array>
		<array>
			<string>ebay_orders.php</string>
		</array>
		<array>
			<string>ebay_overview.php</string>
		</array>
		<array>
			<string>ebay_profile.php</string>
		</array>
		<array>
			<string>ebay_settings.php</string>
		</array>
		<array>
			<string>ebay_subscription.php</string>
		</array>
		<array>
			<string>ebay_summary.php</string>
		</array>
		<array>
			<string>ebay_syncronise.php</string>
		</array>
		<array>
			<string>ebay_template.php</string>
		</array>
		<array>
			<string>openbay.php</string>
		</array>
		<array>
			<string>openbay_itemlist.php</string>
		</array>
	</array>
</dict>
</plist>
