<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>amazon_checkout.php</string>
		</array>
		<array>
			<string>authorizenet_aim.php</string>
		</array>
		<array>
			<string>bank_transfer.php</string>
		</array>
		<array>
			<string>cheque.php</string>
		</array>
		<array>
			<string>cod.php</string>
		</array>
		<array>
			<string>free_checkout.php</string>
		</array>
		<array>
			<string>klarna_account.php</string>
		</array>
		<array>
			<string>klarna_invoice.php</string>
		</array>
		<array>
			<string>liqpay.php</string>
		</array>
		<array>
			<string>moneybookers.php</string>
		</array>
		<array>
			<string>nochex.php</string>
		</array>
		<array>
			<string>paymate.php</string>
		</array>
		<array>
			<string>paypoint.php</string>
		</array>
		<array>
			<string>payza.php</string>
		</array>
		<array>
			<string>perpetual_payments.php</string>
		</array>
		<array>
			<string>pp_express.php</string>
		</array>
		<array>
			<string>pp_payflow_iframe.php</string>
		</array>
		<array>
			<string>pp_pro.php</string>
		</array>
		<array>
			<string>pp_pro_iframe.php</string>
		</array>
		<array>
			<string>pp_pro_pf.php</string>
		</array>
		<array>
			<string>pp_pro_uk.php</string>
		</array>
		<array>
			<string>pp_standard.php</string>
		</array>
		<array>
			<string>sagepay.php</string>
		</array>
		<array>
			<string>sagepay_direct.php</string>
		</array>
		<array>
			<string>sagepay_us.php</string>
		</array>
		<array>
			<string>twocheckout.php</string>
		</array>
		<array>
			<string>web_payment_software.php</string>
		</array>
		<array>
			<string>worldpay.php</string>
		</array>
	</array>
</dict>
</plist>
