<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>jquery.effects.blind.min.js</string>
		</array>
		<array>
			<string>jquery.effects.bounce.min.js</string>
		</array>
		<array>
			<string>jquery.effects.clip.min.js</string>
		</array>
		<array>
			<string>jquery.effects.core.min.js</string>
		</array>
		<array>
			<string>jquery.effects.drop.min.js</string>
		</array>
		<array>
			<string>jquery.effects.explode.min.js</string>
		</array>
		<array>
			<string>jquery.effects.fade.min.js</string>
		</array>
		<array>
			<string>jquery.effects.fold.min.js</string>
		</array>
		<array>
			<string>jquery.effects.highlight.min.js</string>
		</array>
		<array>
			<string>jquery.effects.pulsate.min.js</string>
		</array>
		<array>
			<string>jquery.effects.scale.min.js</string>
		</array>
		<array>
			<string>jquery.effects.shake.min.js</string>
		</array>
		<array>
			<string>jquery.effects.slide.min.js</string>
		</array>
		<array>
			<string>jquery.effects.transfer.min.js</string>
		</array>
		<array>
			<string>jquery.ui.accordion.min.js</string>
		</array>
		<array>
			<string>jquery.ui.autocomplete.min.js</string>
		</array>
		<array>
			<string>jquery.ui.button.min.js</string>
		</array>
		<array>
			<string>jquery.ui.core.min.js</string>
		</array>
		<array>
			<string>jquery.ui.datepicker.min.js</string>
		</array>
		<array>
			<string>jquery.ui.dialog.min.js</string>
		</array>
		<array>
			<string>jquery.ui.draggable.min.js</string>
		</array>
		<array>
			<string>jquery.ui.droppable.min.js</string>
		</array>
		<array>
			<string>jquery.ui.mouse.min.js</string>
		</array>
		<array>
			<string>jquery.ui.position.min.js</string>
		</array>
		<array>
			<string>jquery.ui.progressbar.min.js</string>
		</array>
		<array>
			<string>jquery.ui.resizable.min.js</string>
		</array>
		<array>
			<string>jquery.ui.selectable.min.js</string>
		</array>
		<array>
			<string>jquery.ui.slider.min.js</string>
		</array>
		<array>
			<string>jquery.ui.sortable.min.js</string>
		</array>
		<array>
			<string>jquery.ui.tabs.min.js</string>
		</array>
		<array>
			<string>jquery.ui.widget.min.js</string>
		</array>
	</array>
</dict>
</plist>
