<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>account</string>
		<string>affiliate</string>
		<string>checkout</string>
		<string>common</string>
		<string>error</string>
		<string>information</string>
		<string>mail</string>
		<string>module</string>
		<string>payment</string>
		<string>product</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
</dict>
</plist>
